@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine&display=swap');

$footer-clr: #322E40;
$dia-red-200: hsl(358, 64%, 17%);
$dia-red-300: hsl(358, 64%, 37%);
$dia-red-400: hsl(358, 64%, 57%);
$dia-red-500: hsl(358, 64%, 77%);
$dia-red-600: hsl(358, 64%, 97%);

$dia-body: #e9d8a6;
$dia-orange: #CA6702;
$dia_link: #005F73;

$dia-it-100: hsl(181, 88%, 91%);
$dia-it-200: hsl(181, 88%, 51%);
$dia-it-300: hsl(181, 88%, 41%);
$dia-it-400: hsl(181, 88%, 31%);
$dia-it-500: hsl(181, 88%, 21%);
$dia-it-600: hsl(181, 88%, 11%);
